

.button {
  border-radius:6px;
  border-style: none;
  padding: 0.8vw;
  margin: 0.3vw;
}

.text {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

.fill {
  width: calc(100% - 12px);
}

/* .button:hover,
.button:focus {
    background: lightgray;
} */

/* .button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
} */

.button:active {
    transform: scale(0.95);
}

.primary {
  background-color: rgb(91, 172, 30);
  color: white;
}
.secondary {
  background-color: rgb(238, 238, 238);
  color: black;
}
.disabled {
  background-color: rgb(236, 236, 236);
  color: rgb(201, 201, 201);
}
.negative {
  background-color: rgb(252, 61, 57);
  color: white;
}